*{
    font-family: Poppins, serif;
}

hr{
    
}
body{
    background-color: #242424;
    color: #EDEDED;
    margin: 20px;
}

a{
    text-decoration: none;
    color: #686868;
    transition: 0.3s;
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color: #DA0037;
    font-size: 16px;
}
.main_section{
    margin-bottom: 30px;
}
.secondary_section{
    margin-top: 20px;
}

h1,h3,h4{
    transition: 0.3s;
    font-weight: normal;
}

footer {
    color: #afafaf;
    position: fixed;
    bottom: 0;
    font-size: small;
    margin: 20px 0px;
    z-index: -1;
}
.sidenav {
    height: 100%;
    width: 80px;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 18px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  table{
    width: 100%;
  }
  td{
    vertical-align: top;
    background-color:#686868;
  }

@media only screen and (max-width: 700px){
    .pulsante_materia{
        width: 200px;
        height: 90px;
        font-size: 13px;
    }	
    h1{
        font-size: 28px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    a{
        font-size: 14px;
    }
    a:hover{
        font-size: medium;
    }
    footer {
        position: relative;
        font-size: 12px;
    }
}